<!-- Footer -->
<br>
<footer id="footer">
  <ul class="icons">
      <li>
          <a href="https://github.com/darthvader1118/SpotifyForum.git"><img src="octocat.png" /></a>
      </li>
  </ul>
  <ul class="copyright">
      <li>&copy; <a href="#" style="text-decoration: none; "><span style="font-weight: 600;">Track</span> <span style="font-weight: 300;">Share</span></a> 2016</li>
  </ul>
</footer>