{{> header}}
<!-- Banner -->
<section id="banner">
    <article id="main">
        <header class="special container">
            <span class="icon fa-plus"></span>
            <h2>Post a Playlist</h2>
            <p>Give your playlist a name and description, then choose it from your account library</p>
        </header>
        <!-- One -->
        <section class="wrapper style4 special container 75%">
            <!-- Content -->
            <div class="content">
                <form action="thread/create" method="POST">
                    <div class="row">
                        <div class="12u">
                            <input type="text" name="title" placeholder="Playlist Name" style="color: grey" required/>
                        </div>
                    </div>

                    <input type="hidden" name="userID" value="{{userId}}">

                    <div class="row">
                        <div class="12u">
                            <textarea name="contents" placeholder="Playlist Description" rows="2" style="color: grey"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="12u">
                            <input type="text" name="genre" placeholder="Playlist Genre" style="color: grey" required/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="12u">
                            <label for="playlists" style="color:black">Your Playlists:</label>
                            <ul class="buttons">
                                {{#each playlists}}
                                <li style="color: black">
                                    <input type="radio" class="special" id="playlists" name="uri" value="{{this.uri}}" required>{{this.name}}</input>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="12u">
                            <ul class="buttons">
                                <li>
                                    <input type="submit" class="special" value="Post" />
                                </li>
                            </ul>
                        </div>
                    </div>

                </form>
            </div>
        </section>
    </article>
</section>